[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/infernet-sdk"]
	path = contracts/lib/infernet-sdk
	url = https://github.com/ritual-net/infernet-sdk
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "llama/Llama-3.2-1B"]
	path = llama/Llama-3.2-1B
	url = git@hf.co:meta-llama/Llama-3.2-1B
